<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/style.css">
	<title>
		Game Time
	</title>
</head>
<body>
	<h1>
		Welcome to Game Time homepage
	</h1>
	<h4>
		How's your team doing?  Find out at our 
		<a href= '/leaderboard'>
			Leaderboard
		</a>
	</h4>
	<div>
		<h4>
			Or jump to your favorite team:
		</h4>
		<ul>
			<% @list_of_teams.each do |teams| %>
				<li>
					<a href=" <%= "#{teams}" %> ">
						<%= teams %>
					</a>
				</li>
			<% end %>
		</ul>
	</div>
	<div>
		<a href= '/' >Back to home</a>
	</div>
</body>
</html>