<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/style.css">
	<title>
		Leaderboard page
	</title>
</head>
<body>
	<h1>
		Leaderboard
	</h1>
		<div>
			<ol>
				<% @team_and_scores.each do |teams| %>
				<li>
					The <%= teams[:home_team] %>
				</li>
				<% end %>
			</ol>
		</div>
	<div>
		<a href= '/' >Back to homepage</a>
	</div>
	<div>
		<%= @wins %>
	</div>
</body>
</html>