<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/style.css">
	<title>
		Leaderboard page
	</title>
</head>
<body>
	<h1>
		Leaderboard
	</h1>
		<div>
			<ol>
				<% @list_of_teams.each do |teams| %>
				<li>
					<% array_for_each_teams_wins = [] %>
					The <%= teams %> have won <% @wins.each do |weeding| %>
						<% if weeding == teams %>
							<% array_for_each_teams_wins << weeding %>
						<% end %>
						<% end %>
						<%= array_for_each_teams_wins.count %>
						times.
				</li>
				<% end %>
			</ol>
		</div>
	<div>
		<a href= '/' >Back to homepage</a>
	</div>
	<div>
		<%= @wins %>
		<%= @losses %>
	</div>
</body>
</html>