<!DOCTYPE html>
<html>
<head>
	<title>
		Leaderboard page
	</title>
</head>
<body>
	<h1>
		Leaderboard
	</h1>
		<div>
		<ol>
			<% @team_and_scores.each do |teams| %>
			<li>
			<%= teams[:home_team] %>
			</li>
			<% end %>
		</ol>
	</div>
	<div>
		<a href= '/' >Back to home</a>
	</div>
</body>
</html>