<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/style.css">
	<title>
		Team page
	</title>
</head>
<body>
	<h1>
		<%= @team_bio %>
	</h1>
</body>
	<div>
		<a href= '/' >Back to home</a>
	</div>
</html>