<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/style.css">
	<title>
		Team page
	</title>
</head>
<body>
	<h1>
		The <%= @team_bio %> game page
	</h1>
	<div>
		<% array_for_each_teams_wins = [] %>
		<% array_for_each_teams_losses = [] %>
			The <%= @team_bio %> have won <% @wins.each do |weeding| %>
				<% if weeding == @team_bio %>
					<% array_for_each_teams_wins << weeding %>
				<% end %>
			<% end %>
			<%= array_for_each_teams_wins.count %>
			times and currently have <% @losses.each do |weeding| %>
				<% if weeding == @team_bio %>
					<% array_for_each_teams_losses << weeding %>
				<% end %>
			<% end %>
			<%= array_for_each_teams_losses.count %>
			losses.
	</div>
	<div>
	<a href= '/' >Back to home</a>
	</div>
</body>
</html>